body{
    font-family: 'PingFangSC-Regular', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;
    background: #1D1D27;
    font-size: .7rem;
}
.dplayer-controller .dplayer-icons .dplayer-setting, .dplayer-controller .dplayer-icons .dplayer-subtitle-btn {
    display: none!important;
}

.dplayer-controller .dplayer-icons .dplayer-full .dplayer-full-in-icon {
    display: none!important;
}

.ql-video {
    margin-top: .5rem;
    width: 100%!important;
    height: 10rem;
    background: #000;
}

.preface-text {
    line-height: 1rem;
    font-size: .75rem;
    color: #E9E9EA;
    margin-bottom: 1.2rem;
}



















