Django>=2.0,<2.1
django-filter==1.1.0
djangorestframework==3.8.2
idna==2.6
oss2==2.4.0
PyMySQL==0.8.0
pytz==2018.4
redis==2.10.6
oss2==2.4.0
requests==2.18.4
urllib3==1.22
certifi==2018.4.16
chardet==3.0.4
crcmod==1.7
http://ytx-sdk.oss-cn-shanghai.aliyuncs.com/dysms_python.zip\?spm\=a2c4g.11186623.2.6.NYHX5e\&file\=dysms_python.zip
