body{
    font-family: 'PingFang SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;
        /*font-family: 'PingFangSC-Light;', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;*/
}
/*距离*/
.margin_tp30 {margin-top: 30px;}
.margin_tp10 {margin-top: 10px;}
.margin_bt20 {margin-bottom: 20px;}
.margin_rt25{margin-right:25px;}
.margin_rt60{margin-right:60px;}
.margin_lf70{margin-left:70px;}
.margin_lf50{margin-left:50px;}
/*button的整体样式*/
.btn_width_95{width:95px;}
.btn_width_120{width:120px;}
.btn_width_200{width:200px;}
.el-button.myColor_red{
    background: #F95862;
}
.el-button.myBtnHover_red:focus{background:#fff;color:#606266;border-color:#dcdfe6;}
.myButton_40.btn_width_95:not(.is-disabled):hover,.el-button.myBtnHover_red:hover{background:#F95862;color:#fff;border-color:#F95862;}
.el-button.myButton_40,.myInput_40 .el-input__inner{
  height:40px!important;
}
.el-button--default{margin-left:0px!important;}
.el-button.myButton_20{
  height:25px!important;
  padding:4px 8px!important;
  font-size:12px;
  font-family: 'PingFangSC-Light'
}
.myInput_20 .el-input__inner{
  height:20px!important;
  padding:2px 8px!important;
  font-size:12px;
  font-family: 'PingFangSC-Light'
}
.container{height:100%;width:100%!important;padding:30px;margin:0!important;box-sizing: border-box;}
/*input的整体样式*/
.el-input__inner,.usermanage .el-form-item__label{
    height:40px!important;
    line-height:40px!important;
    padding-left:15px;
    padding-right:15px;
    font-size:14px!important;
    font-family: 'PingFangSC-Light', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;
}
/*日期icon没有*/
.el-date-editor .el-input__prefix{display: none}
.el-date-editor.el-input--prefix .el-input__inner{padding-left:15px!important;padding-right: 15px!important}
.showTotal{font-size: 20px;color: #F95862;margin:30px 0;
	font-family: 'PingFang SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;
}
/*表格hover样式去掉*/
.el-table tr.el-table__row.current-row>td,.el-table tr.el-table__row.hover-row>td{background: #fff!important}
/*table的padding为0*/
.el-table .cell, .el-table th div {padding-left:0;padding-right:0;}
/*字体hover样式*/
.colorFont{text-decoration:underline;cursor:pointer;}
.colorFont:hover{color:#F95862;}
/*详情页样式*/
.detail_title{text-align: right}
.detail_title,.detail_header,.detail_content{font-family: PingFangSC-Regular;font-size: 14px;color: #909399;}
.detail_content{color: #1D1D27!important;}
/*左对齐*/
.text_lf{text-align: left}
.text_rt{text-align: right}
/*行内表单距离样式*/
.inline_item{display: inline-block;padding-bottom:30px}
.dl_line {display: inline-block;}
/*表单验证那个错误的样式class*/
.el-form-item__error{}

/*表单验证那个成功的input颜色为灰色*/
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
	border-color:#606266;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.lf{float:left;}



















